* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    display: grid;
    border: 2px solid black;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 50%;
    width: 25%;
}

.first-row {
    display: grid;
    border: 5px solid black;
    grid-template-columns: 4fr;
    grid-area: 1/1;
    height: 9vh;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

main > section > div {
    border: 5px solid black;
    background-color: gray;
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid black;
    height: 9vh;
    width: 100%;

}
.third-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid black;
    height: 9vh;
    width: 100%;
}

.fourth-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid black;
    height: 9vh;
    width: 100%;
}

.fifth-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid black;
    height: 9vh;
    width: 100%;
}
.sixth-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border: 5px solid black;
    height: 9vh;
    width: 100%;
}