* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    display: grid;
    border: 2px solid black;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    height: 80vh;
    width: 25%;
}

main > section > div {
    background-color: #EBECF0;
}

.output {
    margin: 0px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
}

.first-row {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 4fr;
    height: 10vh;
    width: 100%;
    align-content: flex-end;
    text-align: center;
    border-radius: 10px;
}

.second-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    height: 9vh;
    width: 100%;

}
.third-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    height: 9vh;
    width: 100%;
}

.fourth-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    height: 9vh;
    width: 100%;
}

.fifth-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    height: 9vh;
    width: 100%;
}
.sixth-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    
    height: 9vh;
    width: 100%;
}

.calc-field {
    display: flex;
    margin-top: 0px;
    font-size: 30px;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    height: 5vh;
}

.hidden {
    display: none;
}